# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
journaltrove_app

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 